{% extends "layout.twig" %}

{% block content %}
    <h1>Nuevo Cliente</h1>

    <form class="form" action="/fastnet/clientes/save" method="post" >
        <label for="">Nombre:</label>
        <input type="text" name="nombre"><br>
        <label for="">Tipo de documento:</label>
        <select name="doc_tipo">
            <option value="1">DNI</option>
            <option value="2">RUC</option>
        </select><br>
        <label for="">Numero de Documento:</label>
        <input type="text" name="doc_num"><br>
        <label for="">Celular:</label>
        <input type="text" name="movil"><br>
        <label for="">Direccion:</label>
        <input type="text" name="direccion"><br>
        <label for="">Referencia:</label><br>
        <textarea name="referencia"></textarea><br>
        <button type="submit">Save</button>
    </form>
{% endblock %}