{% extends "layout.twig" %}

{% block content %}
    <h1>Editar Cliente</h1>

    <form class="form" action="/fastnet/clientes/{{ cliente.persona_id }}/update" method="post" >
        <label for="">Nombre:</label>
        <input type="text" name="nombre" value="{{ cliente.nombre }}"><br>
        <label for="">Tipo de documento:</label>
        <select name="doc_tipo">
            <option value="1">DNI</option>
            <option value="2">RUC</option>
        </select><br>
        <label for="">Numero de Documento:</label>
        <input type="text" name="doc_num" value="{{ cliente.doc_num }}"><br>
        <label for="">Celular:</label>
        <input type="text" name="movil" value="{{ cliente.movil }}"><br>
        <label for="">Direccion:</label>
        <input type="text" name="direccion" value="{{ cliente.direccion }}"><br>
        <label for="">Referencia:</label><br>
        <textarea name="referencia">{{ cliente.referencia }}</textarea><br>
        <button type="submit">Actualizar</button>
    </form>
{% endblock %}