{% extends "layout.twig" %}

{% block content %}
    <h1>Todo los tipos de Documento admitidos</h1>

    <table class="table">
        <thead>
        <tr>
            <td>Documento</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for documento in documentos %}
        <tr>
            <td>{{ documento.doc_nombre }}</td>
            <td><a href="documentos/{{ documento.doc_id }}/delete">Eliminar</a></td>
            <td><a href="documentos/{{ documento.doc_id }}/update">Editar</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}