{% extends "layout.twig" %} {% block content %}
<h1>Lista de Zonas</h1>

<table class="table">
    <thead>
        <tr>
            <td>Nombre Zona</td>
            <td>Zona Caja</td>

            <td></td>
            <td></td>

        </tr>
    </thead>
    <tbody>
        {% for zona in zonas %}
        <tr>
            <td>{{ zona.zona_nombre }}</td>
            <td>{{ zona.zona_caja }}</td>


            <td><a href="zonas/{{ zona.zona_id }}/delete">Eliminar</a></td>
            <td><a href="zonas/{{ zona.zona_id }}/update">Editar</a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}