{% extends "layout.twig" %} {% block content %}
<h1>Lista de Ips</h1>

<div class="form-group col-md-4">
    <label class="form-control-label">Lista de Servidores</label>
    <select class="form-control selectpicker" name="servidor_id" data-live-search="true">
      {% for server in servidores %}

      <option value="{{server.servidor_id}}">{{server.servidor_nombre}}</option>
      
      {% endfor %}
       
    </select>
</div>

<table class="table">
    <thead>
        <tr>
            <td>Dirección Ip</td>



            <td></td>
            <td></td>

        </tr>
    </thead>
    <tbody>
        {% for ip in ips %}
        <tr>
            <td>{{ ip.ip_address }}</td>




            <td><a href="ips/{{ ip.ip_cliente_id }}/delete">Eliminar</a></td>
            <td><a href="ips/{{ ip.ip_cliente_id }}/update">Editar</a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}