{% extends "layout.twig" %} {% block content %}
<h1>Nuevo Router</h1>

<form class="form" action="/fastnet/routers/save" method="post">
    <label for="">Nombre Router:</label>
    <input type="text" name="router_nombre"><br>

    <label for="">Ip Router:</label>
    <input type="text" name="router_ip"><br>
    <label for="">Usuario:</label>
    <input type="text" name="router_user"><br>
    <label for="">Contraseña:</label><br>
    <input type="text" name="router_pass"><br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}