{% extends "layout.twig" %} {% block content %}
<h1>Editar Plan</h1>




<form class="form" action="/fastnet/routers/{{ router.router_id }}/update" method="post">
    <label for="">Nombre Router:</label>
    <input type="text" name="router_nombre" value="{{ router.router_nombre }}"><br>

    <label for="">Ip Router:</label>
    <input type="text" name="router_ip" value="{{ router.router_ip }}"><br>
    <label for="">Usuario:</label>
    <input type="text" name="router_user" value="{{ router.router_user }}"><br>
    <label for="">Contraseña:</label><br>
    <input type="text" name="router_pass" value="{{ router.router_pass }}"><br>
    <button type="submit" class="btn btn-primary">Actualizar</button>
</form>


{% endblock %}