{% extends "layout.twig" %}

{% block title %}Contratos - Fastnet{% endblock %}

{% block content %}
    <h1>Lista de Contratos</h1>
    <a href="/fastnet/contratos/add" class="btn btn-success float-left bg-warning">Nuevo</a>
    <table class="table">
        <thead>
        <tr>
            <td>Num Contrato</td>    
            <td>Cliente</td>    
            <td>PLan</td>    
            <td>Ip</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for contrato in contratos %}
        <tr>
            <td>{{ contrato.contrato_id }}</td>
            <td>{{ contrato.nombre }}</td>
            <td>{{ contrato.plan_nombre }}</td>
            <td>{{ contrato.ip_address }}</td>
            <td><a href="contratos/{{ contrato.persona_id }}/delete">Eliminar</a></td>
            <td><a href="contratos/{{ contrato.persona_id }}/update">Editar</a></td>
            <td><a href="contratos/{{ contrato.persona_id }}/perfil">Detalle</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}