{% extends "layout.twig" %} {% block content %}
<h1>Nuevo Servidor</h1>

<form class="form col-md-6" action="/fastnet/servidores/save" method="post">

    <label for="">Nombre Servidor:</label>
    <input type="text" name="servidor_nombre" class="form-control"><br>

    <label for="">Rango Inicio:</label>
    <div class="form-group row">
        <input type="text" name="ri1" class="form-control col-md-3">
        <input type="text" name="ri2" class="form-control col-md-3">
        <input type="text" name="ri3" class="form-control col-md-3">
        <input type="text" name="ri4" class="form-control col-md-3">
    </div>
    <label for="">Rango Fin:</label>
    <div class="form-group row">
        <input type="text" name="rf1" class="form-control col-md-3">
        <input type="text" name="rf2" class="form-control col-md-3">
        <input type="text" name="rf3" class="form-control col-md-3">
        <input type="text" name="rf4" class="form-control col-md-3">
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}