<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/fastnet/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fastnet/public/css/style.css">

    <title>FastNet</title>
</head>

<body>
    <div id="root" class="d-flex">
        <header class="header bg-primary">
            <div class="container d-flex flex-column justify-content-center">
                <div class="header-header d-flex flex-column">
                    <div class="header-logo">
                        <span><a href="#">FN</a></span>
                    </div>
                    <div class="header-buscar">Buscar</div>
                    <div class="header-crear">Crear</div>
                </div>
                <div class="header-body">
                    <div class="header-user">
                        <span>User</span>
                    </div>
                </div>
            </div>
        </header>
        <nav class="nav bg-nav">
            <div class="container">
                <div class="header-logo">
                    <span>FastNet</span>
                </div>
            </div>
        </nav>
        <div class="content">
            123456
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/fastnet/public/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/fastnet/public/js/popper.min.js"></script>
    <script src="/fastnet/public/js/bootstrap.min.js"></script>
</body>

</html>